<footer class="bg-main-light py-4">
    <div class="container">
        <h3>Get the FreshCart App</h3>
        <p>we will send you a link, open it to download the app.</p>
        <div class="email d-flex">
            <input type="email" placeholder="Email" class="form-control">
            <button class="btn bg-main text-white w-25">Share App Link</button>
        </div>
        <hr class="text-secondary">
        <div class="d-flex justify-content-between align-items-center">
            <div class="payImg">
                <p class="d-inline-block">Payment Partners</p>
                <img src="assets/OIP (1).jpg" class="ms-1" alt="pay Partner">
                <img src="assets/61473.jpg" class="ms-1" alt="pay Partner">
                <img src="assets/OIP.jpg" class="ms-1" alt="pay Partner">
                <img src="assets/R.png" class="ms-1" alt="pay Partner">
            </div>
            <div class="deliver">
                <p class="d-inline-block">Get Deliveries with FreshCart</p>
                <img src="assets/Logo Available_on_the_App_Store.png" alt="App">
                <img src="../../../assets/logo-google-play-2048.png" alt="App">
            </div>
        </div>
    </div>
</footer>
